//Anim
:root {
    --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
    --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
    --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
    --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
    --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
    --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
    --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
    --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
    --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
    --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

// Colors : 
$off-block : #20222b;
$off-white: #a5afd7;
$off-blue: #333745;
$blue : #3c4251;
$light-blue: #464b5e;
$deep-forest: #77b300;

$color-xl: #444;
$color-l: #333;
$color-m: #00ADB5;
$color-s: #EEEEEE;

$color-border: #00ADB5;
$color-border-shadow: #007c82;
$color-background: #222;
$color-background-2nd: rgba(51, 55, 68, 0.65);

$border-2nd : solid 2px $color-border;
$box-shadow-2nd: 0px 5px 0px $color-border-shadow;
$border-radius-2nd: 20px;

//Spacing :
$m-size : 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$s-size:1.2rem;

//Responsive
$desktop-breakpoint: 45rem;

//Design

$light-radius: 2px;

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a {
  color: $color-border;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: white;
  
}