.big-button {
  transition: 2s;
  border-radius: 1rem;
  background-color: #77b300;
  border: none;
  border-bottom: 0.6rem solid #558000;
  color: white;
  font-weight: bold;
  font-size: 3.2rem;
  width: 100%;
  margin-bottom: 4.8rem;
  padding: 2.4rem; }

.big-button:disabled {
  transition: 0.5s;
  opacity: .5;
  cursor: default; }

.button {
  border-radius: 0.5rem;
  background-color: #77b300;
  border: none;
  font-weight: 500;
  border-bottom: 0.3rem solid #558000;
  color: white;
  padding: 1.2rem; }

.button__link {
  background: none;
  border: none;
  color: #a5afd7;
  padding: 0; }
